@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply colors */
body {
  color: #f9fafb; /* Set text color */
  background-color: #374151; /* Set background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
