@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme(colors.secondary);
  background-color: theme(colors.primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

th,
td {
  padding: 0.5rem;
  border-right: 1px solid;
  border-color: theme(colors.secondary);
}

tr {
  border-bottom: 1px solid;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(odd) {
  background-color: theme(colors.card);
}
